docker/mysql/data/*

# Node.js dependencies
/node_modules/

# Laravel Composer dependencies
/vendor/

# PHP environment variables
*.env

# SSH keys and secrets
*.pem

# Public assets (compiled CSS, JS)
/public/css/*
!/public/css/custom.css   # これは除外しない（自作のCSSファイル)
/public/js
!/public/js/custom.js   # 自作のJSファイルは除外しない
/public/mix-manifest.json

# Database and logs
/storage/logs/
/storage/framework/cache/

# IDE settings
/.vscode/
/.idea/

# OS specific files
.DS_Store
Thumbs.db

ER図＿開き方メモ.txt

*.Zone.Identifier

!.gitkeep
