docker/mysql/data/*

# Node.js dependencies
/node_modules/

# Laravel Composer dependencies
/vendor/

# PHP environment variables
*.env

# SSH keys and secrets
*.pem

# Public assets (compiled CSS, JS)
/public/css
/public/js
/public/mix-manifest.json

# Database and logs
/docker/mysql/data/*
/storage/logs/
/storage/framework/cache/

# IDE settings
/.vscode/
/.idea/

# OS specific files
.DS_Store
Thumbs.db

ER図＿開き方メモ.txt

!.gitkeep
