/* レスポンシブ対応の画像 */
.item img {
    max-width: 100%;
    height: auto;
}

/* スクリーンサイズが大きい時に固定サイズに変更 */
@media (min-width: 768px) {

    .item img.fixed-size{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}