/* 全体的なコンテナにパディングを追加して、中央配置の整合性を保つ */
.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    /* 追加：全体にパディング */
}

.content-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* 追加：コンテンツ周りにパディング */
}

.footer-container {
    flex: 1;
}

/* プロフィールボックスにパディングを追加 */
.profile-box {
    max-width: 100%; /* ここを100%に設定 */
    width: 100%;
    padding: 0 20px 20px 20px;
        /* 上部にはパディングを適用せず、左右と下部に20pxを設定 */
}

/* プロフィール設定タイトルセクション */
.section-title {
    text-align: center;
    padding: 20px 0;
    /* 上下のパディングを追加 */
}

/* アイコンのスタイル */
#avatar-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

/* 画像選択ボタンのスタイル */
.btn-secondary {
    background: white;
    color: #FF5555;
    border: 1px solid #FF5555;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

/* ホバー時のスタイル */
.btn-secondary:hover {
    background: #FF5555;
    color: white;
    border: 1px solid #FF5555;
}

/* 更新するボタンのスタイル */
.btn-update-profile {
    background-color: #FF5555;
    color: white;
    border: 1px solid #FF5555;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

/* 更新ボタンホバー時 */
.btn-update-profile:hover {
    background-color: white;
    color: #ff5555;
    border-color: #ff5555;
}