/* profile.css */
/* アイコンのスタイル */
#profile-picture {
    width: 150px;
    /* 幅を150pxに設定 */
    height: 150px;
    /* 高さを150pxに設定 */
    object-fit: cover;
    /* 画像が枠内で切り取られないようにする */
    border-radius: 50%;
    /* 画像を丸く表示 */
    margin-bottom: 20px;
    /* 下に余白を追加 */
}

/* 編集ボタンのスタイル */
.input[type="file"] {
    display: none;
    /* 非表示 */
}
/* プロフィールを編集するボタンの背景色を変更 */
.btn-secondary {
    background: white;
    /* 背景色を白に */
    color: #FF5555;
    /* テキストカラーを #FF5555 に */
    border: 1px solid #FF5555;
    /* ボーダーも同じ色に */
    padding: 10px 20px;
    /* 内部余白 */
    text-align: center;
    /* テキストを中央揃え */
    font-size: 16px;
    /* フォントサイズ */
    border-radius: 5px;
    /* 角を丸くする */
    cursor: pointer;
    /* 明示的にポインターカーソルを表示 */
    display: inline-block;
    /* インライン要素として表示 */
    text-decoration: none;
    /* リンクの下線を消す */
    transition: background-color 0.3s ease, color 0.3s ease;
        /* ここで色の変化をスムーズに */
}

/* ホバー時のスタイル */
.btn-secondary:hover {
    background: #FF5555;
    /* ホバー時に背景色をテキスト色に */
    color: white;
    /* ホバー時にテキストを白に */
    border: 1px solid #FF5555;
    /* ホバー時にボーダーも同じ色に */
}

/* レスポンシブ対応の画像 */
.item img {
    width: 100%;
    height: auto;
}
/* スクリーンサイズが大きい時に固定サイズに変更 */
@media (min-width: 768px) {

    .item img.fixed-size {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}

/* 通常状態のテキストカラー */
.main-content .nav-container .nav-link {
    color: #5F5F5F;
    background-color: transparent !important;
    /* 背景色を透明に */
    border: none;
}

/* マウスオーバー時のテキストカラー */
.main-content .nav-container .nav-link:hover {
    color: #FF5555;
}

/* アクティブなタブのスタイル */
.main-content .nav-container .nav-link.active {
    color: #FF0000 !important;
    /* 文字色を赤に */
    font-weight: bold;
    /* 太字に（不要なら削除） */
    background-color: transparent !important;
    /* 背景色を完全に削除 */
    box-shadow: none !important;
    border: none;
}