/* profile.css */
/* アイコンのスタイル */
#profile-picture {
    width: 150px;
    /* 幅を150pxに設定 */
    height: 150px;
    /* 高さを150pxに設定 */
    object-fit: cover;
    /* 画像が枠内で切り取られないようにする */
    border-radius: 50%;
    /* 画像を丸く表示 */
    margin-bottom: 20px;
    /* 下に余白を追加 */
}

/* ファイル選択ボタンのスタイル */
#profilePicture {
    border: 1px solid #ccc;
    /* 枠線を追加 */
    padding: 5px;
    /* ボタン内の余白 */
    cursor: pointer;
    /* ポインタカーソルを表示 */
}

/* 通常状態のテキストカラー */
/* 通常状態のテキストカラー */
.main-content .nav-container .nav-link {
    color: #5F5F5F;
    background-color: transparent !important;
    /* 背景色を透明に */
    border: none;
}

/* マウスオーバー時のテキストカラー */
.main-content .nav-container .nav-link:hover {
    color: #FF5555;
}

/* アクティブなタブのスタイル */
.main-content .nav-container .nav-link.active {
    color: #FF0000 !important;
    /* 文字色を赤に */
    font-weight: bold;
    /* 太字に（不要なら削除） */
    background-color: transparent !important;
    /* 背景色を完全に削除 */
    box-shadow: none !important;
    border: none;
}