
/* 登録するボタンの背景色を変更 */
.btn-register {
    background: white;
    /* 背景色を白に */
    color: #FF5555;
    /* テキストカラーを #FF5555 に */
    border: 1px solid #FF5555;
    /* ボーダーも同じ色に */
    padding: 10px 20px;
    /* 内部余白 */
    text-align: center;
    /* テキストを中央揃え */
    font-size: 18px;
    /* フォントサイズ */
    border-radius: 5px;
    /* 角を丸くする */
    display: inline-block;
    /* インライン要素として表示 */
    text-decoration: none;
    /* リンクの下線を消す */
}

/* ホバー時のスタイル */
.btn-register:hover {
    background: #FF5555;
    /* ホバー時に背景色をテキスト色に */
    color: white;
    /* ホバー時にテキストを白に */
    border: 1px solid #FF5555;
    /* ホバー時にボーダーも同じ色に */
}

/* ログインリンクのフォントサイズを調整 */
.text-center a.text-muted {
    font-size: 18px !important;
    /* お好きなサイズに調整 */
    color:#0073CC !important;
}

/* ログインリンクのホバー時 */
.text-center a.text-muted:hover {
    color: #FF8C00 !important;
    /* ホバー時に色を変更 */
    text-decoration: underline !important;
    /* ホバー時に下線を表示 */
}

