.img-container {
    width: 100%;
    /* 親要素の幅に合わせる */
    height: 0;
    padding-top: 100%;
    /* 高さを幅の100%に設定して縦横比1:1に */
    position: relative;
    overflow: hidden;
    /* 画像がはみ出ないように */
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* 幅を親要素に合わせる */
    height: 100%;
    /* 高さを親要素に合わせる */
    object-fit: cover;
    /* 縦横比に合わせてトリミング */
}

.row.mb-4 {
    display: flex;  /* 親要素にflexboxを適用 */
    align-items: stretch;  /* 子要素に高さを合わせる */
}

.col-md-4 {
    display: flex;  /* 右側のカラムもflexboxに設定 */
    flex-direction: column;  /* 子要素を縦並びにする */
}

table {
    flex-grow: 1;  /* テーブルが余ったスペースを埋める */
    width: 100%;   /* テーブルが親要素の幅に収まるように */
}

/* デフォルトの背景色を設定 */
.form-select {
    background-color: #fff;
    /* 任意の色に設定 */
    color: #636769;
    /* テキストの色 */
}

/* フォーカス時のスタイルを設定 */
.form-select:focus {
    background-color: #777;
    /* フォーカス時の背景色 */
    color: #eaeaea;
    /* フォーカス時のテキスト色 */

    outline: none;
    /* フォーカス時のアウトラインを非表示 */
}

/* 購入するボタンの背景色を変更 */
.btn-purchase {
    background-color: #FF5555;
    /* 背景色を赤に */
    color: white;
    /* テキストカラーを白に */
    border: 1px solid #FF5555;
    /* ボーダーを赤に */
    padding: 10px 20px;
    /* 内部余白 */
    text-align: center;
    /* テキストを中央揃え */
    font-size: 18px;
    /* フォントサイズ */
    border-radius: 5px;
    /* 角を丸くする */
    display: inline-block;
    /* インライン要素として表示 */
    text-decoration: none;
    /* リンクの下線を消す */
}

/* ホバー時のスタイル */
.btn-purchase:hover {
    background-color: white;
    color: #ff5555;
    /* テキストカラーは白のまま */
    border-color: #ff5555;
    /* ボーダーの色も変更 */
}